/* You can add global styles to this file, and also import other style files */

body {
  background-color: #000000;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #787878;
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 59, 59);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(214, 214, 214);
}
